@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Stil für die Wolken */
.cloud {
  position: absolute;
  animation: cloud-move linear infinite;
  cursor: pointer;
}

/* Stil für das Zerplatzen */
.cloud.clicked {
  animation: cloud-pop 0.5s forwards;
}

/* Animation für das Zerplatzen */
@keyframes cloud-pop {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

/* Animation für die Bewegung */
@keyframes cloud-move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100vw);
  }
}